<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>Velo Productions</h1>
		<p>Descripcion de la pagina</p>
	</div>
	<div class="menu">
	 <a href="https://www.youtube.com/watch?v=43WDuRvUlAk">Minecraft</a> 
	 <a href="https://www.youtube.com/watch?v=jCactUyQQyg">Minecraft</a> 
	 <a href="https://www.youtube.com/watch?v=1wauorb3vyg">Gallo de Oro</a> 
	 <a href="https://www.youtube.com/watch?v=FrNTpDH5ruQ">Gallo de Oro</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2>Cabezon De Maicra</h2>
				<h5>Steve</h5>
				<img src="mf.png" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="item2">
				<h2>Informacion</h2>
				<img src="ve.jpg" alt="" width="100px">
				<h3>Mi Gallito De Oro</h3>
			</div>
		</div>
	</div> 
 <div class="footer">
 	<h2>&copy: 2019 Velo Productions</h2>
 </div>
 <div class="Vid">
 	
 </div>
</body>
</html>